h1{
	color:#ff0000;
	text-align:center;
}
	
form{
	box-shadow:0px 0px 20px 0px #00bbff;
	padding:15px;
	width:450px;
	height:550px;
	border-radius:10px;
	margin:80px auto;
    
}

input{
	padding:7px;
	border-radius:10px;
	margin:10px auto;
	width:300px;
}

button{

    padding:15px;
    margin:0px 0px 5px 0px;
    color:#ff0000;
    background-color: aqua;
    width: 300px;
    margin: 20px;
	border-radius:100px;
    }
td{
    font-style: bold;
    font-size: larger;
    font-weight: bold;
}

